@tailwind base;
@tailwind components;
@tailwind utilities;

.main-bg-color {
    background-color: #e8f7ff;
}

.oval {
    position: relative;
    width: 400px;
    height: 400px;
    margin: auto;
}

/* Styles for the top half-circle */
.oval::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-color: #dfc4b1; /* Match the background color of the rectangle */
    clip-path: path('M 0 240 C 0 -78, 400 -78, 400 240 Z');
}

/* Styles for the bottom half-circle */
.oval::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 42%;
    background-color: #dfc4b1;
}
